{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/monsters/monster-index.css' %}"
/>
{% endblock %}

{% block content %}

<section class="page-header">
  <h1>Cat List</h1>

</section>

<section class="card-container">
  {% for monster in monsters %}
    <div class="card">
      <div class="card-content">
        </div>
        <h2 class="card-title">{{ monster.name }}</h2>
        {% if monster.age > 0 %}
          <p>A {{ monster.age }} year old {{ monster.breed }}</p>
        {% else %}
          <p>A {{ monster.breed }} in its infancy.</p>
        {% endif %}
        <p><small>{{ monster.description }}</small></p>
      </div>
    </div>
  {% endfor %}
</section>

{% endblock %}